#navBarMainFrame{
    box-sizing: border-box;
    max-width: 100%;
    height: 48px;
    margin: 0 auto;
    border: 2px solid black;
}
#navBarFrame{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 48px;
    width: auto;
    border: 2px solid black;
    margin-left: 80px;
}
#logoFrame{
    display: inline-block;
    padding: 12px;
    width: 147px;
    height: 21px;
}
#logo{
    width: 147px;
    height: 21px;
}
#contactUsMainFrame{
   display: inline-block;
   vertical-align: middle;
   border: 2px solid black;
   height: 22px;
   margin-left: 80px;
   padding: 13px 0px;
}
#about{
   display: inline;
}
#offer{
    display: inline;    
}
#contact{
    display: inline;
}
#help{
    display: inline;
}
#contactUsFrame{
    
}
#contactUs{
  
}
#contentMainFrame{
   
}
#websiteHeader{
    
}
#instructor{
    
}
#unlockOpportunity{
    
}
#perks{
    
}
#unlock{
    
}
#becomeIntructorFrame{
    
}
#becomeInstructorText{
    
}
#footerMainFrame{
    
}
#containerFrame{
   
}
#contentFrame{
   
}
#logoWrap{
   
}
#logoSecond{
   
}
#footerLinks{
    
}
#overview{
    
}
#features{
    
}
#pricing{
   
}
#careers{
    
}
#helpp{
    
}
#privacyy{
    
}
#copyright{
    
}
#copyrightFrame{
   
}